#!/bin/bash
# {{ansible_managed}}
export JAVA_HOME={{java_home_json.stdout}}
#export CATALINA_OPTS="-Djava.rmi.server.hostname=0.0.0.0 -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=9999 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false"
